:root {
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #EFF5FF;
  font-size: 16px;
}

html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-decoration-skip-ink: "auto";
}

button:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  body {
    background-color: #fff;
  }
}

/* sidebar */


.sidebar {
  background-image: url("/bg-sidebar-desktop.svg");
  background-position: 10% 85%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  padding: 1.5em 3em;
  margin: 0;
  position: relative;
}

.sidebar__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;
}


.sidebar__menu__item__text {
  display: none;
}

.sidebar__menu__item__id,
.active-section {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   border: 2px solid #fff;
   display: grid;
   place-content: center;      
}

.sidebar__menu__item.active {
  color: #fff;
  }

  .active-section {
    background: #BEE2FD;
    color: #022959;
}


@media (min-width: 768px) {

.sidebar {
  padding: 3em 2em;
  height: 95vh;
  width: 256px;
  margin: 1em;
  border-radius: 10px;
  position: static;
}

.sidebar__menu {
  display: block;
  position: static;
}

.sidebar__menu__item {
  margin-bottom: 2em;
  display: flex;
  gap: 1em
}

.sidebar__link {
text-decoration: none;
}

    
.sidebar__menu__item__text {
    display: block;
    justify-self: end;
    text-transform: uppercase;
    line-height: 1.6;
  }

  .item-step {
    color: #ABBCFF;
    font-size: 12px;
  }

  .item-display {
    font-size: 15px;
    font-weight: 700;
  }

} 

      
/* Form */
:root {
  --gray-900: #1a202c;
  --gray-800: #2d3748;
  --gray-700: #4a5568;
  --gray-600: #718096;
  --gray-500: #a0aec0;
  --gray-400: #cbd5e0;
  --gray-300: #e2e8f0;
  --gray-200: #edf2f7;
  --gray-100: #f7fafc;
  --red-100: #fff5f5;
  --red-200: #fed7d7;
  --red-300: #feb2b2;
  --red-400: #fc8181;
  --red-500: #f56565;
  --red-600: #e53e3e;
  --red-700: #c53030;
  --red-800: #9b2c2c;
  --red-900: #742a2a;
  --blue-100: #ebf8ff;
  --blue-200: #bee3f8;
  --blue-300: #90cdf4;
  --blue-400: #63b3ed;
  --blue-500: #4299e1;
  --blue-600: #3182ce;
  --blue-700: #2b6cb0;
  --blue-800: #2c5282;
  --blue-900: #2a4365;
  --white: white;
  --red: #f56565;
  --text-decoration-color: var(--gray-400);
  --text-color: var(--gray-800);
  --focus-ring-color: var(--blue-500);
}





/* Typography
––––––––––––––––––––––––––––––––– */

form h1,
form h2,
form h3,
form h4,
form h5,
form h6 {
  margin-bottom: 1rem;
  font-weight: bold;
  color: #022959;
}

form h1 {
  font-size: 3.052rem;
  letter-spacing: -0.15rem;
  line-height: 1;
}

form h2 {
  font-size: 2.441rem;
  letter-spacing: -0.12rem;
  line-height: 1.2;
}

form h3 {
  font-size: 1.953rem;
  letter-spacing: -0.09rem;
  line-height: 1.2;
}

form h4 {
  font-size: 1.563rem;
  letter-spacing: -0.06rem;
  line-height: 1.3;
}

form h5 {
  font-size: 1.25rem;
  letter-spacing: -0.03rem;
  line-height: 1.4;
}

form h6 {
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.5;
}

form p {
  margin-bottom: 1.563rem;
}

form p > *:last-child {
  margin-bottom: 0;
}

form a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: var(--text-decoration-color);
  -webkit-text-decoration-color: var(--text-decoration-color);
  border-radius: 5px;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
}

@media (hover: hover) {
  a:hover {
    text-decoration-color: var(--gray-800);
  }
}

@media (hover: hover) and (prefers-color-scheme: dark) {
  form a:hover {
    text-decoration-color: white;
  }
}

@media (prefers-color-scheme: dark) {
  form a {
    text-decoration-color: var(--gray-700);
    -webkit-text-decoration-color: var(--gray-700);
  }
}

a:focus-visible {
  box-shadow: 0 0 0 2px var(--focus-ring-color);
  outline: none;
}

small {
  font-size: 0.888rem;
}

hr {
  border: 1px solid var(--gray-700);
  margin: 3.052rem 0;
}

/* Form
––––––––––––––––––––––––––––––––– */

label {
  font-weight: bold;
  display: flex;
  color: #022959;
  margin-bottom: 0.5em;
}

input[type="email"],
input[type="text"],
input[type="number"] {
  padding: 1rem;
  font-size: 1rem;
  border: 2px solid var(--gray-200);
  background-color: var(--gray-100);
  color: var(--gray-800);
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
}

@media (prefers-color-scheme: dark) {
  input[type="email"],
  input[type="text"],
  input[type="number"] {
    background-color: var(--gray-800);
    border-color: var(--gray-700);
    color: white;
  }

  input[type="email"]::placeholder,
  input[type="text"]::placeholder,
  input[type="number"]::placeholder,
  select,
  textarea {
    color: var(--gray-500);
  }
}

input[type="email"],
input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
}

select {
  margin: 0;
  box-sizing: border-box;
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  border: 2px solid var(--gray-200);
  border-radius: 10px;
  color: var(--gray-700);
  height: auto;
  background-color: var(--gray-100);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125.304 125.304"><path d="M62.652 103.895L0 21.41h125.304" fill="%23343334"/></svg>');
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: center right 0.5rem;
}

@media (prefers-color-scheme: dark) {
  select {
    background-color: var(--gray-800);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125.304 125.304"><path d="M62.652 103.895L0 21.41h125.304" fill="%23ffffff"/></svg>');
    border-color: var(--gray-700);
    color: white;
  }
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1rem;
  border: 2px solid var(--gray-200);
  color: var(--gray-700);
  border-radius: 10px;
  resize: vertical;
  background-color: var(--gray-100);
  box-sizing: border-box;
  padding: 0.65rem 0.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
    "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial,
    sans-serif;
}

@media (prefers-color-scheme: dark) {
  textarea {
    background-color: var(--gray-800);
    border-color: var(--gray-700);
    color: white;
  }
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 2px solid var(--focus-ring-color);
}

input:invalid,
select:invalid,
textarea:invalid {
  border: 2px solid #ff7d87;
  box-shadow: none;
}

input[type="checkbox"] {
  display: inline-block;
  height: 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid var(--gray-300);
  width: 1.5rem;
  background-color: #fff;
  align-self: center;
  margin-right: 0.5rem;
  padding: 0.5em;
}

@media (prefers-color-scheme: dark) {
  input[type="checkbox"] {
    background-color: var(--gray-800);
    border-color: var(--gray-600);
  }
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="78.369" height="78.369" viewBox="0 0 78.369 78.369"><path fill="white" d="M78.05 19.015l-48.592 48.59c-.428.43-1.12.43-1.548 0L.32 40.016c-.427-.426-.427-1.12 0-1.547l6.704-6.704c.428-.427 1.12-.427 1.548 0l20.113 20.112 41.113-41.113c.43-.427 1.12-.427 1.548 0l6.703 6.704c.427.427.427 1.12 0 1.548z"/></svg>');
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #483EFF;
  color: #fff;
  border: 2px solid var(--gray-700);
  padding: 0.5em;
}

input[type="checkbox"]:focus-visible,
input[type="checkbox"]:checked:focus-visible {
  border-color: var(--focus-ring-color);
}

@media (prefers-color-scheme: dark) {
  input[type="checkbox"]:checked {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="78.369" height="78.369" viewBox="0 0 78.369 78.369"><path fill="%23343434" d="M78.05 19.015l-48.592 48.59c-.428.43-1.12.43-1.548 0L.32 40.016c-.427-.426-.427-1.12 0-1.547l6.704-6.704c.428-.427 1.12-.427 1.548 0l20.113 20.112 41.113-41.113c.43-.427 1.12-.427 1.548 0l6.703 6.704c.427.427.427 1.12 0 1.548z"/></svg>');
    background-color: #483EFF;
    color: white;
    border: 2px solid white;
    padding: 0.5em;
  }
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  border: 2px solid var(--gray-300);
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
  align-self: center;
  justify-content: center;
  position: relative;
  display: flex;
}

@media (prefers-color-scheme: dark) {
  input[type="radio"] {
    border: 2px solid white;
  }
}

@media (hover: hover) {
  input[type="radio"]:hover {
    cursor: pointer;
  }
}

input[type="radio"]:checked {
  border: 2px solid var(--gray-700);
}

input[type="radio"]:focus-visible,
input[type="radio"]:checked:focus-visible {
  border-color: var(--focus-ring-color);
}

@media (prefers-color-scheme: dark) {
  input[type="radio"]:checked {
    border: 2px solid white;
  }
}

input[type="radio"]:checked::before {
  content: "";
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background-color: var(--gray-700);
  align-self: center;
  border-radius: 50%;
}

@media (prefers-color-scheme: dark) {
  input[type="radio"]:checked::before {
    background-color: white;
  }
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.submit {
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  border-radius: 10px;
  background-color: var(--gray-700);
  border: 2px solid var(--gray-700);
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  line-height: initial;
  transition: background-color 200ms ease-in-out, border 200ms ease-in-out,
    transform 200ms ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}



.go-back-button {
  margin-top: 1em;
  background: #fff;
  color: var(--gray-700);
  border: none;
  transition: none;
}

@media (prefers-color-scheme: dark) {
  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  button {
    background-color: white;
    border: 2px solid white;
    color: var(--gray-800);
  }
}

@media (hover: hover) {
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover,
  .submit:hover {
    cursor: pointer;
    background-color: var(--gray-800);
  }

  .go-back-button:hover {
      cursor: pointer;
  }
}

@media (hover: hover) and (prefers-color-scheme: dark) {
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover,
  button:hover {
    cursor: pointer;
    background-color: var(--gray-300);
  }
}

button:focus-visible,
input[type="submit"]:focus-visible,
input[type="reset"]:focus-visible,
input[type="button"]:focus-visible {
  border-color: var(--focus-ring-color);
  outline: none;
}

/* Tables
––––––––––––––––––––––––––––––––– */
table {
  width: 100%;
  border-spacing: 0;
  margin-bottom: 1.563rem;
  font-variant-numeric: tabular-nums;
}

th,
td {
  padding: 0.5rem 0.5rem 0.5rem 0;
  margin: 0;
}

th {
  font-weight: bold;
  text-align: left;
  border-bottom: 2px solid var(--gray-300);
  color: var(--gray-300);
}

@media (prefers-color-scheme: dark) {
  th {
    border-color: var(--gray-700);
    color: var(--gray-700);
  }
}

td {
  border-bottom: 2px solid var(--gray-300);
}

@media (prefers-color-scheme: dark) {
  td {
    border-color: var(--gray-700);
  }
}

/* Code
––––––––––––––––––––––––––––––––– */
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  font-size: 0.8rem;
  white-space: nowrap;
  background: var(--gray-100);
  padding: 0 0.328rem;
  display: inline-block;
  vertical-align: middle;
  border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
  code {
    background-color: var(--gray-700);
  }
}

p > code {
  white-space: normal;
}

pre > code {
  line-height: 1.563em;
  display: block;
  padding: 1rem;
  white-space: pre;
  margin-bottom: 1.563rem;
  overflow: scroll;
}

/* Forces a new-line at the end of a code block for layout purposes. */
pre > code::after {
  content: " ";
}

/* Blockquote
––––––––––––––––––––––––––––––––– */
blockquote {
  border-left: 0.25rem solid var(--gray-100);
  padding: 0 1rem;
  margin-bottom: 1.563rem;
}

@media (prefers-color-scheme: dark) {
  blockquote {
    border-left: 0.25rem solid var(--gray-700);
  }
}

/* List
––––––––––––––––––––––––––––––––– */
ul {
  margin: 0;
  padding: 0 1px;
  list-style: disc outside;
  font-variant-numeric: tabular-nums;
}

ol {
  list-style: decimal outside;
}

ol,
ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 1.563rem;
}

li {
  list-style-position: inside;
}

/* Keyboard
––––––––––––––––––––––––––––––––– */
kbd {
  display: inline-block;
  padding: 0 0.328rem;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  font-size: 0.64rem;
  color: var(--gray-700);
  vertical-align: middle;
  background-color: var(--gray-100);
  border: solid 1px var(--gray-300);
  border-bottom: solid 2px var(--gray-500);
  border-radius: 5px;
}

/* Abbreviation
––––––––––––––––––––––––––––––––– */
abbr {
  text-decoration: none;
  border-bottom: 2px dashed var(--gray-600);
}

@media (hover: hover) {
  abbr:hover {
    cursor: help;
  }
}

.error {
  font-size: 12px;
  color: var(--red-600);
  margin-top: 0.25rem;
}

@media (prefers-color-scheme: dark) {
  .error {
    color: var(--red-400);
  }
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

button + button {
  margin-left: 0.5rem;
}

button.secondary,
button[type="reset"] {
  background-color: var(--gray-300);
  border: 2px solid var(--gray-300);
  color: var(--gray-900);
}

button.secondary:hover,
button[type="reset"]:hover {
  background-color: var(--gray-400);
}

/* custom */


label {
  margin-top: 1rem;
}

label.checkbox {
  font-weight: normal;
}

.next-button {
  margin-top: 1rem;
  background: #022959;
}

.next-button:hover {
  background: #164A8A
}


/* page layout */

.page-container,
.page-container-yearly {
  display: flex;
  flex-direction: column;
}



.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.section-title h1,
.section-title h2 {
  margin-bottom: 0.5em;
  color: #022959;
  font-size: 2rem;
}

.section-title p {
  color: #9699AA;
  font-size: 1rem;
}

.section-btns {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 10px; 
  right: 20px;
  bottom: 10px;
  left: 20px;
}

.end {
  justify-content: flex-end;
}

.personal-info,
.plan-info,
.add-on-info,
.submitted {
  background-color: #fff;
  display: flex;
  /* margin: 1.5em 0.5em; */
  padding: 1em;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 0.5em 0.5em 1.5em -1em;
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  margin: 1.5em auto;
  width: 90%;
  /* height: 90vh; */
  
  
}

.box-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  margin-top: 2em; 
}

.plan-option {
  padding: 1em;
  display: flex;
  width: 90%;
  justify-content: start;
  gap: 1.5em;
  border-radius: 15px;
  border: 1px solid #D6D9E6;
}

.plan-option:hover,
.plan-option:focus {
  cursor: pointer;
}

.plan-name-price {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.months-free {
  visibility: visible;
  font-size: 12px;
  color: #022959;
}

.hidden-months {
  visibility: hidden;
}

.option-image {
  width: 50px;
  height: 50px;
}

.add-on-container,
.totals-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-between;
  margin-top: 2em; 
}

.totals-container {
  background-color: #F8F9FF;
  margin-bottom: 2em;
  padding: 1em;
}

.add-on-checkbox {
  max-width: 550px;
  height: 85px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  /* justify-content: space-between; */
  align-items: center;
  border: 1px solid blue;
  border-radius: 10px;
  padding: 0.5em;
}

.add-on-checkbox:hover {
  cursor: pointer;
}

.add-on-title {
  font-weight: bold;
  margin-bottom: 0.25em;
  font-size: 14px;
}

.add-on-subtitle { 
  margin-bottom: 0;
  font-size: 12px;
}

.checkbox-price {
  color: #483EFF;
}

.checkbox-price p {
  margin-bottom: 0;
  text-align: center;
}

.final-choice-plan, 
.final-choice-addon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #022959;
}

.final-choice-plan {
  padding-bottom: 1.5em;
  border-bottom: 1px solid rgba(150, 153, 170, 0.5);
}

.final-choice-addon {
  color: #9699AA;
}

.totals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.total-text {
  color: #9699AA;
}

.confirm-btn {
  background-color: #928CFF;
  color: #fff;
  border: none;
}

.submitted-text {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.submitted-text img {
  width: 100px;
}

/* toggler */

.toggler {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  background-color: #F8F9FF;
  padding: 1em;
}

@media(min-width: 768px) {
  .toggler {
    margin-top: 2em;
    padding: 0.25em;
  }

  
}

.toggler p {
  font-weight: 600;
}

.toggler--slider {
  width: 30px;
  height: 20px;
  background-color: #022959;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
  padding: 0 0.25em;
}

.toggler--slider--circle {
  height: 12px;
  width: 12px;
  background-color: white;
  border-radius: 50%;
}

.toggler--monthly {
  color: #2B283A;
}

/* Yearly Mode */


.page-container-yearly .toggler--slider {
  border-color: rgb(167, 165, 165);
  
}

.page-container-yearly .toggler--monthly {
  color: #918E9B;
}

.toggler--yearly {
  color: #D5D4D8;
}

.page-container-yearly .toggler--yearly {
  color: #020202;
}

.page-container-yearly .toggler--slider {
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .page-container,
  .page-container-yearly {
    flex-direction: row;
  }

  .personal-info,
  .plan-info,
  .add-on-info,
  .submitted {
  margin-left: 3em;
  margin-top: 0;
  margin-bottom: 0;
  padding: 3em 4em 1em 4em;
  box-shadow: none;
  position: static;
  width: 100%;
}

.section-title h1 {
  margin-bottom: 0.5em;
  color: #022959;
  font-size: 2.5rem;
}

.section-title p {
  color: #9699AA;
  font-size: 1.2rem;
}

.box-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  align-items: center;
}

.plan-option {
  max-width: 180px;
  height: 210px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  
}

.plan-price {
  color: #9699AA;
}

.section-btns {
  position: static;
  margin-left: 3em;
  padding: 0 4em;
}

.add-on-checkbox {
  padding: 0.5em 1em;
}

.checkbox-details {
  line-height: 1.4;
}


.add-on-title {
  margin-bottom: 0.5em;
  font-size: 16px;
}

.add-on-subtitle { 
  margin-bottom: 0;
  font-size: 14px;
}



}
